body {
	
	margin: 0;
	text-align: center;
	width: 100%;
    font-family: sans-serif;
  margin: 0;
  width: 100%;

  margin-top: 20px;
	border-radius: 15px;
 
  background: linear-gradient(60deg, #323D3A, #00FFB7);

}

h1 {
  color: #000000;
  font-family: Times New Roman, 'Palatino Linotype' serif;
	font-size: 24px;
}

h2 {
	font-size: 16px;
}

h3 {
  font-size: 13px;
}

h4 {

}




